//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

.TableContinerSyled {
    background: #212929 !important;
    height: calc(100vh - 80px);
    overflow-Y: auto;
}

.HeaderTableCell {
    height: 6.85rem !important;
    font-weight: bold !important;
    font-size: 16px !important;
    text-decoration: none !important;
    color: #27E2BB !important;
    border-bottom: .5px solid #E5E5E588 !important;
    width: 50% !important;
    text-align: left !important;
    padding-left: 20px !important;
    font-family: 'Didact Gothic', sans-serif !important;
}

.TopicTableCell{
    text-align: left !important;
    color: white !important;
    font-size: 13px !important;
    text-transform: Capitalize !important;
    padding-left: 40px !important;
    font-family: 'Didact Gothic', sans-serif !important;
}

.PaperTableCell{
    text-align: left !important;
    color: white !important;
    font-size: 13px !important;
    text-transform: Capitalize !important;
    padding-right: 40px !important;
    font-family: 'Didact Gothic', sans-serif !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
}