.basic-layout {
  .contentWeb {
    background-color: #262f2f;
    height: calc(100vh - 80px);
    margin: 0;
    padding: 0;
    overflow:hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
