.top-bar {
  height: 80px;
  background-color: #27E2BB;

  .ui.container{
    width: 100%;
    padding: 0 30px 0 30px !important;
  }

  .ui.basic.label {
    background: #2E333C;
    border: 0px solid rgba(34,36,38,.15);
    color: white;
    box-shadow: none;
  }

  .buttonUserStyled {
    background-color: transparent !important;
    color: black !important;
  }

  .headerButtonStyled {
    background-color: #23C9A6 !important;
  }

  &__left {
    display: flex !important;
    align-items: center;
    img {
      height: 80px;
      transition: all 0.5s;
      &:hover {
        transform: translateX(3px);
      }
    }
  }
  &__right {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
  }

}
