.content {
  .icon {
    color: #66ffd5 !important;
  }
  .button {
    background-color: #66ffd5 !important;
  }
  .divider {
    color: #66ffd5 !important;
  }
  .corner {
    color: #66ffd5 !important;
  }
}
