@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

.product {
  .ui.grid {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;

    .column {
      padding: 0 !important;
    }
    .row {
      padding: 0 !important;
    }
  }

  .ui.form input {
    width: 400px !important;
    background-color: #2e333c !important;
    border-bottom: solid !important;
    border-width: 0 0 2px 0 !important;
    border-color: #e5e5e5 !important;
    border-radius: 0px !important;
    font-family: 'Didact Gothic', sans-serif !important;
    font-size: 14px !important;
    color: #e5e5e588 !important;
  }

  .ui.form input:focus {
    border-color: #27e2bb !important;
    color: #e5e5e5 !important;
    transform: translateY(-3px);
    transition: 330ms ease;
  }

  &__search__container {
    background-color: #2e333c !important;
    height: 7rem;
    padding: 30px 40% 30px 30px !important;
    border-bottom: 0.5px solid #e5e5e588 !important;
    border-radius: 0px !important;
  }
  &__search {
    margin: 0 !important;
    display: flex !important;
    justify-content: space-between;
  }

  .ButtonStyle {
    background-color: #2A2E36 !important;
    color: #e5e5e588 !important;
    border-bottom: 2px solid #e5e5e5 !important;
    border-radius: 2px 2px 0 0 !important;
    min-Width: 240px;
    max-Width: 140px;
  }

  .ButtonStyle:focus {
    border-style: solid !important;
    border-width: 0 0 2px 0 !important;
    border-color: #27e2bb !important;
    border-radius: 0px !important;
    transform: translateY(-3px);
    transition: 330ms ease;
  }

  .FilterStyle {
    padding: 0 0 0 1% !important;
  }

  .ButtonSearch {
    background-color:#27e2bb !important;
    color: white !important;
  }

  .URLTable {
    background-color: #212929 !important;
    height: 100vh;
    width: 100%;
    padding: 0px !important;
    border-right: 0.5px solid #e5e5e588 !important;
    border-radius: 0px !important;
    display: block !important;
    align-items: center;
  }

  .svgContainer {
    background-color: #2e333c !important;
    height: 100vh;
    padding: 0px !important;
    display: flex !important;
    align-items: center;
  }
  .labelText {
    text-align: center;
  }
  .nodeZero {
    fill: #27e2bb;
  }
  .nodeOne {
    fill: #8f9fff;
  }
  .nodeTwo {
    fill: #f37d3c;
  }
  .nodeThree {
    fill: #d0ee8d;
  }
  .nodeFour {
    fill: #e8f3f1;
  }
  .labelZero {
    fill: #534b62;
  }
  .labelOne {
    fill: #ffffff;
  }
  .labelTwo {
    fill: #ffffff;
  }
  .labelThree {
    fill: #534b62;
  }
  .labelFour {
    fill: #534b62;
  }
}
