.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background-color;
  .ui.grid {
    padding: 0 !important;
    margin: 0 !important;
    .column {
      padding: 0 !important;
      img.ui.image {
        display: inline-block;
        margin-bottom: -50px;
      }
    }
  }
  img {
    height: 300px;
    width: 300px;
  }
}
