.home {
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
  &__filter {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    background-color: rgba(55, 55, 55, 0.79);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  .ui.grid {
    margin: 0 !important;
    padding: 0 !important;

    .column {
      padding: 0 !important;
    }
  }

  video {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  &__logo {
    padding: 0 !important;

    img {
      height: 32em;
      width: 32em;
      margin-top: 70px;
    }
  }

  &__text {
    display: flex !important;
    flex-direction: column !important;
    text-align: center;
    margin-bottom: 150px;
    padding-bottom: 150px;

    &__motivational {
      font-size: 34px;
      font-weight: 700;
      justify-content: center !important;
      align-items: center !important;
      line-height: 1.4;
      color: $primary;
    }

    &__p {
      margin: 0 auto !important;
      font-size: 20px;
      justify-content: center;
      font-weight: 700;
      line-height: 1.4;
      color: white;
    }
  }
}
