.footer {
  width: 100%;
  height: 200px;
  display: flex !important;
  align-items: center;
  background-color: #262f2f;

  box-shadow: 0 0 -3px 0 rgba(0, 0, 0, 0.5);

  .ui.grid {
    margin: 0 !important;
    padding: 0 !important;
    .column {
      padding: 0 !important;
    }
  }
  &__left {
    display: flex !important;
    align-items: center;
    justify-content: flex-start;

    img {
      width: 14em;
      height: 14em;
    }
  }

  &__right {
    display: flex !important;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column !important;
    color: $primary;
    font-size: 30px;
    .ui.grid {
      margin: 0 !important;
      padding: 0 !important;
      .column {
        padding: 0 !important;
      }
    }
    a {
      color: $primary;
      &:hover {
        color: $primary;
      }
    }
  }
  &__text {
    text-align: center;
    margin: auto 0;
    color: $primary;
    &__copyright {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }
}
