//Primary Green Color
$primary: #25e6c2;

//Fonts Colors
$font-grey: #778;
$font-dark: #000;
$font-light: #fff;

//Borders Colors
$border-light: #fff;
$border-grey-light: #a7a7a7;
$border-grey: #444444;

//Background Colors
$background-color: #1b1725;
$background-segment: #534b62;
